<% if @post.id.nil? %>
<% options = { method: :post, url: posts_path } %>
<% else %>
<% options = { method: :put, url: post_path(@post) } %>
<% end %>

<%= form_for(@post, options) do |f| %>
	<% if @post.errors.any? %>
		<ul>
		<% @post.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
		</ul>
	<% end %>

	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>

	<div>
		<%= f.label :category %>
		<%= f.select :category, options_for_select(@categories.collect {|category| [category.name, category.id] }, selected: @post.category_id), { include_blank: true } %>
	</div>

	<%= f.submit "Submit" %>
<% end %>