<li>
	<h3><%= post.title %></h3>
	<p><%= post.description %></p>
	<div><a href="<%= category_url(post.category) %>"><%= post.category.name %></a></div>
	<ul>
		<li><%= link_to 'Edit', edit_post_url(post) %></li>
		<li><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	</ul>
</li>