<div>
	<h1><%= @post.title %></h1>
	<p><%= @post.description %></p>
</div>

<ul>
	<li><%= link_to 'Edit', edit_post_url(@post) %></li>
	<li><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>