<div class="a-column a-span2 olpSellerColumn" role="gridcell"> 
  <h3 class="a-spacing-none olpSellerName"> 
    <span class="a-size-medium a-text-bold"> <a href="/gp/aag/main/ref=olp_merch_name_2?ie=UTF8&amp;asin=0761455299&amp;isAmazonFulfilled=0&amp;seller=A19A29L7PVBL05">D M Books Store</a> </span>
  </h3> 
  <p class="a-spacing-small"> <i class="a-icon a-icon-star a-star-4-5"><span class="a-icon-alt">4.5 out of 5 stars</span></i> <a href="/gp/aag/main/ref=olp_merch_rating_2?ie=UTF8&amp;asin=0761455299&amp;isAmazonFulfilled=0&amp;seller=A19A29L7PVBL05"><b>92% positive</b></a> over the past 12 months. (409 total ratings) <br> </p> 
</div>