<%= form_with(model: todo, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <div class="input-group date">
      <%= form.text_field :date, id: :todo_date %>
    </div>
  </div>

  <div class="field" >
    <%= form.label :due_time %>
    <div class="input-group date">
      <%= form.text_field :due_time, id: :todo_due_time %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :todo_description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select(:status, Todo.statuses.keys.to_a, {selected: :created}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    var now = new Date();
    <% if todo.date %>
    var date = new Date(Date.parse("<%= todo.date.iso8601 %>"));
    <% else %>
    var date = now;
    <% end %>
    <% if todo.due_time %>
    var due_time = new Date(Date.parse("<%= todo.due_time.iso8601 %>"));
    <% else %>
    var due_time = now;
    <% end %>

    if (date >= now) {
      $('#todo_date').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss',
        minDate: now,
        defaultDate: date
      });
    } else {
      $('#todo_date').prop('disabled', true);
    }

    if (due_time >= now) {
      $('#todo_due_time').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss',
        minDate: now,
        defaultDate: due_time
      });
    } else {
      $('#todo_due_time').prop('disabled', true);
    }

  });
</script>