<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<table border="0" cellspacing="5" cellpadding="5">
  <tbody>
    <tr>
      <td>Date:</td>
      <td>
        <div class="input-group date">
          <input type="text" id="todo_date" name="todo_date">
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-striped" id="todo-list">
  <thead>
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th>Due time</th>
      <th>Status</th>
      <th>Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.description %></td>
        <td><%= todo.date.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= todo.due_time.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= todo.status %></td>
        <td>
          <span><%= link_to 'Show', todo %></span>
          <span><%= link_to 'Edit', edit_todo_path(todo) %></span>
          <span><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path %>

<script type="text/javascript">
  $(function() {
    $('#todo-list').DataTable({
      order: [[2, 'asc']]
    });

    var min_date = new Date();
    min_date.setMonth(min_date.getMonth() - 1);
    var max_date = new Date();
    max_date.setMonth(max_date.getMonth() + 1);
    $('#todo_date').datetimepicker({
      format: 'YYYY-MM-DD',
      minDate: min_date,
      maxDate: max_date
    });

    $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
      var filter_date = $('#todo_date').data('date');
      var date = data[1];
      console.log('[FilterDate] ' + filter_date);
      console.log('[CurrentDate] ' + date);
      return !filter_date || date.indexOf(filter_date) != -1;
    });

    $('#todo_date').on('dp.change', function(e) {
      var todo_list = $('#todo-list').DataTable();
      todo_list.draw();
    });
  });
</script>
