<% if @category.id.nil? %>
<% options = { method: :post, url: categories_path } %>
<% else %>
<% options = { method: :put, url: category_path(@category) } %>
<% end %>

<%= form_for(@category, options) do |f| %>
	<% if @category.errors.any? %>
		<ul>
		<% @category.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
		</ul>
	<% end %>

	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<%= f.submit "Submit" %>
<% end %>