<div>
	<h1><%= @category.name %></h1>
</div>

<ul>
	<li><%= link_to 'Edit', edit_category_url(@category) %></li>
	<!--<li><%= link_to 'Delete', @category, method: :delete, data: { confirm: 'Are you sure?' } %></li>-->
</ul>